<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0">All {{name}} resources</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Descritption</th>
                        <th>Date Added</th>
                        <th>Date Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resource in resources %}
                    <tr>
                        <td>1</td>
                        <td> <a href="{{ resource.file.url }}" download>{{ resource.title }}</a></td>
                        <td>{{ resource.owner.email }}</td>
                        <td>{{ resource.description }}</td>
                        <td>{{ resource.created_date }}</td>
                        <td>{{ resource.modified_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
