{% extends 'base.html' %}
{% load static %}
{% block title %}E-Library{% endblock title %}
{% block css %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
{% endblock css %}

{% block page-content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Upload document for public download</h1>
    </div>
    {% include 'tables/tables.html' with name='Documents' resources=resources %}
</div>
{% endblock page-content %}

{% block js %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock js %}
