{% extends 'base.html' %}
{% load static %}

{% block title %} Admin Dashboard{% endblock title %}

    {% block page-content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            {% include 'dashboard/dash-info-card.html' with title='Total members' value='120' color='primary' icon='users' %}
            {% include 'dashboard/dash-info-card.html' with title='Unapproved members' value='1550' color='success' icon='users' %}
            {% include 'dashboard/dash-info-card.html' with title='Inactive members' value='12' color='danger' icon='user-slash' %}
            {% include 'dashboard/dash-info-card.html' with title='SITE ROLE' value='ADMIN' color='warning' icon='comments' %}
        </div>

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Member Visits</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% endblock page-content %}

{% block js %}
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
{% endblock js %}